.logodiv {
  img {
  display: block;
  margin: 0 auto;
}
}

.navigation {
  margin-top: 1rem;
  $navigation-color: $primary-palette;
  $navigation-color-hover: darken($primary-palette-2, 10%);
  $navigation-height: 80px;

  background-color: #fff;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    // float: left;
    // max-height: $navigation-height;
    
    // padding-right: 2rem;

    // img {
    //   max-height: $navigation-height;
    //   padding: 0.8rem 0;
    // }
  }

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    i {
      @include vertical-align;
    }

    @include media ($tablet-up) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($tablet-up) {
      float: left;
    }
  }

  .navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($tablet-up) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  .nav-link {
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($tablet-up) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($tablet-up) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
}
