section {
  padding: 3rem 0;
}


.intro-img {
   @include span-columns(12);

  @include media($tablet-up) {
    @include span-columns(4);
    @include shift(4);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 8px solid #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
  }
}

.intro-text {
  @include span-columns(8);
  @include shift(2);
  margin-top: 2rem;
  text-align: center;
  color: #000;
}